<a href="https://colab.research.google.com/github/phuongfanta/R/blob/master/demo_First_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("Hello and welcom R Programming Language")

[1] "Hello and welcom R Programming Language"

In [9]:
?reserved

In [10]:
name <- readline(prompt = "What's your name?")

What's your name?Phuong

In [11]:
age <- as.integer(readline(prompt = "How old are you?"))

How old are you?yes

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [12]:
print(paste("Hello" , name))

[1] "Hello Phuong"

In [13]:
cat("hello", name)

hello Phuong

In [14]:
# Ex1:

# Bài tập ôn buổi 1
#### Viết chương trình cho phép người dùng:
- Nhập vào một chuỗi. In chuỗi.
- Nhập vào một ký tự. In ký tự.
- Tạo chuỗi mới từ chuỗi đã có trong đó tất cả các ký tự đã nhập ở trên đều được in hoa
- Nhập vào một chuỗi. In chuỗi
- Tách chuỗi đã nhập thành danh sách các phần tử.
- Tìm xem chuỗi vừa nhập có là phần tử nào trong danh sách phần tử trên hay không? Nêu tìm thấy thì thông báo là "Found!!!" ngược lại thì thông báo là "Not found!!!"

In [15]:
content <- readline(prompt = "Input content:")

Input content:hello

In [16]:
char_find <- readline(prompt = "Input character:")

Input character:a

In [17]:
# Upper this char

In [18]:
new_content = chartr(old = char_find, new = toupper(char_find), content)

In [19]:
new_content

[1] "hello"

In [20]:
string_find <- readline(prompt = "Input string:")

Input string:a

In [21]:
if (string_find %in% unlist(strsplit(content, " "))){
  print("Found!!!")
} else{
  print("Not found!!!")
}

[1] "Not found!!!"

# Đọc và ghi file với colab

In [22]:
system("ls", TRUE)

[1] "ob_sub.csv"  "sample_data"

In [34]:
# Cach 1:
# upload file can doc len thu muc /content cua ung dung
# sau do doc file
x = read.csv("ob_sub.csv")

In [44]:
x

   X  id gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   1  1 F      150    49     21.8 53  1312 0.88 17802 28600 37.3
2   2  2 M      165    52     19.1 65  1309 0.84  8381 40229 16.8
3   3  3 F      157    57     23.1 64  1230 0.84 19221 36057 34.0
4   4  4 F      156    53     21.8 56  1171 0.80 17472 33094 33.8
5   5  5 M      160    51     19.9 54  1681 0.98  7336 40621 14.8
6   6  6 F      153    47     20.1 52  1358 0.91 14904 30068 32.2
7   7  7 F      155    58     24.1 66  1546 0.96 20233 35599 35.3
8   8  8 M      167    65     23.3 50  2276 1.11 17749 43301 28.0
9   9  9 M      165    54     19.8 61  1778 0.96 10795 38613 21.1
10 10 10 F      158    60     24.0 58  1404 0.86 21365 35534 36.6

In [43]:
list.files()

[1] "ob_head.csv" "ob_sub.csv"  "sample_data"

In [45]:
# Cach 2: 
# Lay id cua tap tin can doc (o che do viewer)
# https://drive.google.com/file/d/1vIGZPt81Pfny_O4bGwuP5ooNG-VnbCpY/view?usp=sharing
system("gdown --id 1vIGZPt81Pfny_O4bGwuP5ooNG-VnbCpY")

In [46]:
# doc tap tin vua lay id o tren
ob = read.csv("Obesity_data.csv")

In [47]:
dim(ob)

[1] 1217   11

In [41]:
# ghi file
write.csv(head(x),"ob_head.csv", row.names=FALSE)

In [42]:
y = read.csv("ob_head.csv")
y

  X id gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1 1 1  F      150    49     21.8 53  1312 0.88 17802 28600 37.3
2 2 2  M      165    52     19.1 65  1309 0.84  8381 40229 16.8
3 3 3  F      157    57     23.1 64  1230 0.84 19221 36057 34.0
4 4 4  F      156    53     21.8 56  1171 0.80 17472 33094 33.8
5 5 5  M      160    51     19.9 54  1681 0.98  7336 40621 14.8
6 6 6  F      153    47     20.1 52  1358 0.91 14904 30068 32.2

In [ ]:
# download file vua ghi xuong tai thu muc /content cua ung dung